# Environment variables
.env

# Ignore training dataset (large)
Data/

# Ignore training outputs
runs/

# Ignore trained weights (large binary)
*.pt
*.onnx

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual env
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Temporary inference outputs
temp_outputs/

# Ignore src directory
src/

# Explicitly track the results folder and its weights
!results/
!results/**/*.pt
!results/**/*.onnx